<div class="m-5 p-4">
    <div class="list">
        <strong>Varified</strong>
        <span>{{ profile.varified }}</span>
    </div>
    <div class="list">
        <strong>ID</strong>
        <span>{{ profile._id }}</span>
    </div>
    <div class="list">
        <strong>Shop Name</strong>
        <span>{{ profile.shopName }}</span>
    </div>
    <div class="list">
        <strong>Owner Name</strong>
        <span>{{ profile.ownerName }}</span>
    </div>
    <div class="box-border mx-5 px-5 my-2 py-2">
        <strong>Address</strong>
        <div class="list">
            <strong>Address1</strong>
            <span>{{ profile.address.address1 }}</span>
        </div>
        <div class="list">
            <strong>Address2</strong>
            <span>{{ profile.address.address2 }}</span>
        </div>
        <div class="list">
            <strong>District</strong>
            <span>{{ profile.address.district }}</span>
        </div>
        <div class="list">
            <strong>State</strong>
            <span>{{ profile.address.state }}</span>
        </div>
        <div class="list">
            <strong>Pin</strong>
            <span>{{ profile.address.pin }}</span>
        </div>
    </div>
    <div class="list">
        <strong>Email</strong>
        <span>{{ profile.email }}</span>
    </div>
    <div class="list">
        <strong>Mobile</strong>
        <span>{{ profile.mobile }}</span>
    </div>
    <!-- <div class="list">
        <strong>Rating</strong>
        <span>{{ profile.rating }}</span>
    </div> -->
</div>