<div *ngIf="isError && errorCode == 11000" class="flex justify-center my-5">
    <div class="box-border h-auto w-full max-w-md border-2 rounded bg-yellow-200 border-red-500 px-1">
        <strong class="text-left text-red-700">
            {{ errorMsg }}
        </strong>
        <button class="float-right font-bold text-xl" (click)="boxClose()">&times;</button>
    </div>
</div>


<div *ngIf="isError && errorCode == 400" class="flex justify-center my-5">
    <div class="box-border h-auto w-full max-w-md border-2 rounded bg-yellow-200 border-red-500 px-1">
        <strong class="text-left text-red-700">
            {{ errorMsg }}
        </strong>
        <button class="float-right font-bold text-xl" (click)="boxClose()">&times;</button>
    </div>
</div>